body {
    margin: 0;
    display: grid;
    height: 100vh;
    overflow-y: auto;
    grid-template-columns: minmax(180px, 380px) 1fr;
    background: rgb(184 225 250 / 50%);
}

section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
    max-width: 100%;
    padding-bottom: 10px;
}

@media (max-width: 740px) {
    section {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

section > div {
    background-color: white;
    padding: 15px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    height: 300px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 740px) {
    section > div {
        width: 200px;
        height: 200px;
    }
}

section > div > h3 {
    font-size: 25px;
    margin: 0;
}

section > div > p {
    font-size: 40px;
    font-weight: bold;
    margin: 10px 0 0 0;
}