
* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-style: normal;
    --primary-color: ;
    --secondary-color: ;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex-row-center-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}